<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<h1 *ngIf="hasFoundWord" class="modal-title text-center text-bg-success">'Mon found!</h1>
<h1 *ngIf="!hasFoundWord" class="modal-title text-center">Game Over!</h1>
<h2 class="modal-title text-center pt-4 ">{{targetNameString}}</h2>
<div class="modal-body text-center">
    <ng-container *ngIf="targetSprite; else noSprite">
        <img [src]="targetSprite" alt="Pokémon Sprite" />
    </ng-container>
    <ng-template #noSprite>
        <p>{{targetNameString}}</p>
    </ng-template>
    <h5>{{targetPokedexEntry}}</h5>
    <button type="button" class="btn btn-danger btn-lg mt-4" (click)="resetGame()">Play again</button>
</div>
<div class="modal-footer">
</div>