<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex flex-column align-items-center">
        <ng-container *ngIf="guesses">
            <ng-container *ngFor="let guess of guesses; let gIndex = index">
                <ng-container *ngIf="guessNumber == gIndex + 1; else notCurrentGuess">
                    <div class="d-flex" #letterBoxesRef>
                        <span *ngIf="focussedLetterIndex === -1"
                            class="text-center d-flex align-items-center justify-content-center text-white fs-3">←</span>
                        <div *ngFor="let letter of guess.letters; let lIndex = index" [id]="'g' + gIndex + 'l' + lIndex"
                            class="m-2 p-2 square-box text-center d-flex align-items-center justify-content-center letter-box form-control"
                            [ngClass]="{'border border-success border-4': hasFoundWord === true}"
                            (click)="focusLetterBox(gIndex, lIndex)">
                            {{ letter.value | uppercase }}
                        </div>
                        <span *ngIf="focussedLetterIndex === -1"
                            class="text-center d-flex align-items-center justify-content-center fs-3">←</span>
                    </div>
                </ng-container>
                <ng-template #notCurrentGuess>
                    <div class="d-flex">
                        <div *ngFor="let letter of guess.letters; let lIndex = index" [id]="'g' + gIndex + 'l' + lIndex"
                            class="form-control m-2 p-2 square-box d-flex align-items-center justify-content-center border"
                            [ngClass]="
                            {   'border-4': letter.matchType !== 'unknown',
                                'border-secondary': letter.matchType === 'none',
                                'border-warning': letter.matchType === 'fuzzy',
                                'border-success': letter.matchType === 'exact'
                            }">
                            {{ letter.value | uppercase }}
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>
        <h4 *ngIf="hasFoundWord === true" class="mt-2">'Mon found! 🎉</h4>
        <button *ngIf="hasFoundWord === true" class="btn btn-danger mt-3" type="button" (click)="resetGame()">Play
            again</button>
        <h4 *ngIf="showTargetName">{{targetNameString}}.</h4>
    </div>
</div>