<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex flex-column align-items-center">
        <div *ngIf="targetName$ | async as targetName" class="d-flex">
            <input *ngFor="let letter of targetName" class="form-control m-2 p-2 square-box text-center" type="text"
                [value]="letter" readonly />
        </div>

        <ng-container *ngIf="guesses">
            <ng-container *ngFor="let guess of guesses; let gIndex = index">
                <ng-container *ngIf="guessNumber == gIndex + 1; else notCurrentGuess">
                    <div class="d-flex" #letterBoxesRef>
                        <div *ngFor="let letter of guess.letters; let lIndex = index" [id]="'g' + gIndex + 'l' + lIndex"
                            class="m-2 p-2 square-box text-center letter-box border border-secondary"
                            (click)="focusLetterBox(gIndex, lIndex)">
                            {{ letter.value | uppercase }}
                        </div>
                    </div>
                </ng-container>
                <ng-template #notCurrentGuess>
                    <div class="d-flex">
                        <div *ngFor="let letter of guess.letters; let i = index"
                            class="form-control m-2 p-2 square-box text-center">
                            {{ letter.value | uppercase }}
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>


        <h1 *ngIf="hasFoundWord === true">Word found! 🎉✨🎈</h1>
    </div>
</div>