/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.square-box {
    width: 50px; /* Adjust the width to your desired size */
    height: 50px; /* Same value as width for a square */
}

.focussed {
    border-color: #000000 !important;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0) !important;
  }

  .notFocussed {
    border-color: #bba8a88c !important;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0) !important;
  }

